#typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#typing-text {
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
}

body{
    overflow: hidden;
    font-family: "Fira Code", monospace;
}
