@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: Inter;
    background-color: red;
    height: 100vh;
    margin: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


#fixedBox {
    position: absolute;
    width: 3.7rem;
    height: auto;
    background-color: #341198;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease, opacity 0.3s ease; 
    opacity: 0; 
    display: none;
    animation: fadeIn 0.5s forwards;
    border-radius: 0 10px 10px 0;
    
}


#fixedBox.show {
    display: block;
    opacity: 1;
}

.maincontainer {
    margin-top:5rem;
    width:90%;
}

.form-building {
    padding:3rem;
    width:100%;
}

.fixed-box button {
    display: block;
    margin-bottom: 5px;   
    padding: 10px;
    color: #fafafa;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.fixed-box button:hover {
    color: #f1f1f1;
    transform: scale(1.2);
}

@media(max-width:768px){
    #fixedBox {
        position: fixed;
        bottom:5rem;
    }
}

.form-builder{
    word-wrap: break-word;
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Inter;
    box-sizing:border-box;
    animation: fadeIn 0.5s forwards;
}
.form-builder-in{
    margin:1rem;
}

.form-builder-in h1{
    font-weight:bold;
}

.question-item, .option-input {
    font-family: Arial, sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.question-item {
    width: calc(100% - 20px); 
}

.option-input {
    width: calc(100% - 40px); 
}

.question-options {
    margin-top: 5px;
}

.trash-icon {
    position: absolute;
    right: 10px; 
    top: 30%;
    cursor: pointer;
    color: #ff4d4d; 
    transition: 0.3s ease;
}

.trash-icon:hover{
    transform: scale(1.2);
    color: #9b2f2f;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.question-item, .option-input {
    padding-right: 30px; 
}


.question-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-left: 4px solid #341198;
    display: flex;
    flex-direction: column;
}


.question-item + .question-item {
    margin-top: 0; 
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; 
}

.question-title {
    width: calc(100% - 50px); 
    padding: 10px;
    margin-right: 20px;
    font-family:Inter; 
    border:0;
    border-bottom: 1px solid #ccc;
    transition:0.3s;
}

.question-title:focus {
    border:0;
    outline:0;
    border-bottom:1.5px solid #341198;
    transition: 0.3s;

}
.question-type {
    appearance: none; 
    background-color: #fff; 
    border: 1px solid #ced4da; 
    border-radius: 5px; 
    padding: 10px 15px; 
    font-family: Inter, sans-serif; 
    font-size: 16px; 
    color: #495057; 
    cursor: pointer; 
    transition: border-color 0.3s, box-shadow 0.3s; 
    width: 100%; 
    max-width: 300px; 
}

.question-type:focus {
    border-color: #6c757d; 
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25); 
    outline: none; 
}

.option-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 10px; 
    flex-direction: column; 
}

.option-title {
    flex-grow: 1; 
    margin-right: 20px;
}

.remove-option {
    cursor: pointer;
}

.remove-option img {
    width: 20px;
    height: 20px;
}

.add-option-btn {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #230c64;
    background-color: white;
    color: #230c64;
    cursor: pointer;
    border-radius: 5px;
    font-family:Inter;
    transition:0.3s;
}

.add-option-btn:hover{
    border: 2px solid #fff;
    background-color:#230c64;
    color: white;
    transition:0.3s;
}
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    border-color: red;
}
.separator {
    display: none;
}

.form-control {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    white-space: normal; 
    word-wrap: break-word;
}

.overlay {
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 800px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    white-space: normal;
    word-wrap: break-word;
    max-height: 90vh;
    overflow-y: auto;
    font-family:Inter;
}
.form-builder, .fixed-box, .modal-content {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
}

.form-control, .option-item {
    margin-bottom: 15px;
}

.additional-questions{
    margin-bottom: 1rem;
    font-size: 1rem;
}

.overlay-reset {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family:Inter;
}

.overlay-content-reset {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.overlay-buttons-reset {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.overlay-btn-reset {
    padding: 10px 20px;
    background-color: #341198;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.overlay-btn-reset:hover {
    background-color: #230c64;
}

.close-preview-btn {
    position: fixed; 
    color: red;
    border: none;
    font-size: 17px;
    cursor: pointer;
    z-index: 1001; 

.close-preview-btn:hover {
    color: rgb(168, 7, 7);
}

.question-options {
    display: block;
    margin-top: 10px;
}

.survey-name {
    width: calc(100% - 40px);
    padding: 15px;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden; 
    text-overflow: ellipsis; 
    border:0;
    transition:0.3s;
    border-bottom: 1.5px solid #333;
}

.survey-name:hover {
    outline:0;
    border-bottom: 1.5px solid #341198;
    transition: 0.3s;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
    outline: none;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: #341198;
    border-color: #341198;
}

input[type="checkbox"]:checked::before {
    content: '\2714'; 
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"]:focus {
    box-shadow: 0 0 0 2px rgba(108, 117, 125, 0.25);
}

input[type="text"]{
    border: none;
    border-bottom: 2px solid #341198;
}

input[type="text"]:focus {
    background-color: #f7f7f7;
    outline: none; 
}

.answer-options label {
    display: block;
    margin-bottom: 8px; 
}


.option-item {
    display: block;
    margin-bottom: 0.5rem; 
}

.question-options {
    margin-top: 1rem; 
}

.option-input {
    width: 100%; 
}

.add-option-btn {
    margin-top: 1rem;
}

.scale-animation {
    outline: #230c64;
    border-left: 4px solid #230c64;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
}

.scale-reset {
    outline: none;
    border-left: 4px solid #341198;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .maincontainer{
        width: 100%;
    }

    .form-builder {
        width: 100%;
        padding:1rem;
        font-family:Inter;
    }

    .question-title{
        width: 100%;
    }

    .scale-animation {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    }

    .question-item, .option-input {
        width: 100%;
    }

    .trash-icon {
        right: 5px;
        top: 20%;
    }

    .overlay-content {
        width: 100%;
    }

    .add-option-btn, .overlay-btn-reset {
        width: 100%;
    }

    #fixedBox {
        position: fixed; 
        display: flex;
        bottom: 0;
        flex-direction: column;
        height: 1rem;
        width: 100%;
        justify-content: center; 
        align-items: center; 
        gap: 10px;
        width:18rem;
    }
}

@media (max-width: 480px) {
    .maincontainer{
        width: 100%;
    }

    .form-builder {
        padding: 5px;
        width: 100%;
    }

    .question-item, .option-input {
        padding: 8px;
    }

    .trash-icon {
        right: 3px;
        top: 15%;
    }
}
}